/**
 * Slide on top of content from bottom.
 */
.tablet-slide-ontop-from-bottom {
	.primary-menu-items-0 {
		@media only screen and (min-width: $bp__sidemenu  +1) and (max-width: $bp__menu-button) {
			background-color: $bg__tablet-menu;
			bottom 			: 0;
			display 		: block;
			height 			: $size__menu_height;
			left 			: 0;
			overflow 		: auto;
			position 		: absolute;
			right 			: 0;
			transform 		: translateY( $size__menu_height);
			transition 		: transform 0.4s ease;
			width 			: 100%;
			z-index 		: 9999;

			&[aria-expanded="true"] {
				transform 	: translateY(0);
			}
		}
	}

	.menu-primary-toggle {
		@media only screen and (min-width: $bp__sidemenu  +1) and (max-width: $bp__menu-button) {
			position 		: absolute;
			right 			: 0;
			width 			: $size__menu_width;
			z-index 		: 9999;
		}
	}
}